#CSS YLS

h1 { font-size: 3em; color: green; text-align: center; }

h2 { font-size: 3em; color: red; text-align: center; }

h3 { font-size: 2em; color: blue; text-align: center; }

h4 { font-size: 1em; color: green; text-align: center; }
